// Custom styles.
@media screen and (min-width:1200px) {

    body {
    background-image:url("https://median-1256852104.cos.ap-beijing.myqcloud.com/img/bkg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
    background-size:100% 100%;
    }

    #footer a {
        color:#eee;
    }
}