* {
  font-family: 'Open Sans', '', Times, serif;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

#header > a {
  width: 64px;
  height: 64px;
  margin: auto auto;
}

#name {
  width: 320px;
  height: 180px;
  left: 0;
  position: absolute;
  margin: -25px 0 0 0;
}

#header {
  display: flex;
  background: #fafafa;
  border-bottom: 1px solid #eee;
  height: 140px;
}

#avatar:hover {
  transition: ease-in-out .2s;
  transform: scale(2, 2);
  border-radius: 64px;
  background-color: #eee;
}

#page {
  margin: 20px auto;
  width: 96%;
  height: 100%;
  clear: both;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(240, 248, 255, .6);
}

.ImgList {
  position: relative;
  margin: .25%;
  width: 32.8%;
  box-shadow: none;
  overflow: visible;
  z-index: 1;
  transition: ease-in-out .2s;
}

.PInfo {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  transition: ease-in-out .2s;
}

.ImgList:hover {
  z-index: 98;
  transform: scale(1.1, 1.1);
}

.ImgList:hover > .PInfo {
  opacity: 1;
}

.ImgList:hover .il {
  filter: brightness(.5) blur(3px);
}

.ImgList > a {
  cursor: pointer;
}

.il {
  transition: ease-in-out .2s;
  box-shadow: 0 0 16px #000;
}
