<script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
<script defer src="/assets/js/music.js"></script>
<link rel="stylesheet" href="/assets/css/APlayer.min.css">