@import "fonts.css"

.footer {
  color: #a4b9ab;
}
@media screen and (min-width:1200px) {
    body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
    background-size:100% 100%;
    }

    #footer a {
        color:#eee;
    }
}

.gt-container .gt-comments-null{
    position: relative;
    padding: 0.75em 1.25em;
    display: block;
    line-height: 1;
    border: 1px solid #6190e8;
    border-radius: 5px;
    background-color: #6190e8;
    color: #fff;
    outline: none;
    font-size: 0.75em;
    margin: 0 auto;
    float: initial;
    width: 20em;
}

.gt-container .gt-user-inner{
    color: #a4b9ab;
}
.gt-container .gt-counts{
    color: #a4b9ab;
}

.hito-cont {
    line-height: 1.5em;
    font-size: 10px;
    margin: 0;
    padding: 15px 20px;
    color: rgba(255, 255, 255, .4);
    font-family:'Noto Serif SC';
    font-weight: 300;
    white-space: pre-line;
}

.hito-cont:before {
	  content: '『';
	  margin-left: -15px;
    display: block;
    float: left;
}
.hito-cont:after {
	  content: '』';
	  margin-right: -15px;
    display: block;
    float: right;
}

.hito-quote {
    display: block;
	  padding: 0 4px;
    font-size: 8px;
    color: rgba(255, 255, 255, .4);
    text-align: right ;
    font-family:'Noto Serif SC';
    font-weight: 300;
}

.site-title {
    white-space: pre;
}