

### 厨力展示柜[Achievement]

皇室战争 5600 退役，10 钻 12 胜，20 胜挑战 14 胜

个人信息：[Profile](https://statsroyale.com/profile/2JJJGJU0U)

---

星际 APM120 白银菜鸡

战网 ID：`#51614`

---


{% blockquote %}

如果你还有命能拼，就别等到后悔了再拼。

——《Dragon·Raja IV Abyss of Odin》

{% endblockquote %}

<div style="float:right">2018.11.25 记</div>
<br>
