
### 现在的情况[Situation]

高三狗一只

孜然一身

不断前行

等我毕业了一定自己重写一下这个 page，太丑了……

### 厨力展示柜[Achievement]

皇室战争 5600 退役，10 钻 12 胜，20 胜挑战 14 胜

个人信息：[Profile](https://statsroyale.com/profile/2JJJGJU0U)

---

星际 APM120 白银菜鸡

战网 ID：`#51614`

---

沉迷 ACG 音乐

网易云音乐[主页](https://music.163.com/#/user/home?id=567038875)

---

OIER 退役

魔禁厨，石头门厨，RE0 厨，龙蛋

E.M.T(喜欢艾米莉亚.jpg)

### 正在开展的项目[Project]

- [ ] system call > warp 北京邮电大学

### BLOG 搭建[Build]

| 项目          | 工具链            |
| :------------ | ----------------- |
| blog 框架     | hexo              |
| blog 托管     | coding pages      |
| blog 主题     | next              |
| 音乐支持      | Aplayer           |
| 音乐 api 支持 | api.i-meto.com    |
| 评论系统      | gittalk           |
| 图床          | i.loli.net(sm.ms) |

---

{% blockquote %}

如果你还有命能拼，就别等到后悔了再拼。

——《Dragon·Raja IV Abyss of Odin》

{% endblockquote %}

<div style="float:right">2018.11.25 记</div>
<br>
